# CareSync Production Environment Variables for Render
PORT=5000
MONGODB_URI=mongodb+srv://hemalathabonthu78_db_user:yac0aPOWO94ZHSwi@cluster0.jko5f7g.mongodb.net/caresync?retryWrites=true&w=majority
JWT_SECRET=caresync_super_secret_jwt_key_2026_production
CLIENT_URL=https://caresync-vjzg.vercel.app
NODE_ENV=production
